.input {
    width: 100%;
    padding: 14px;

    border: 2px solid var(--sky-300);
    border-radius: 8px;
    background: var(--color-surface);
    color: var(--color-text-primary);

    outline: none;

    font-size: 15px;
    transition: .2s;
    box-sizing: border-box;
}

.input::placeholder {
    color: var(--color-text-muted);
}

.input:focus {
    box-shadow: 0 0 8px rgba(58, 207, 245, .3);
}
