.button {
    width: 100%;
    padding: 14px;

    background: var(--sky-300);
    color: var(--color-text-on-brand);

    border: none;
    border-radius: 8px;

    cursor: pointer;

    font-size: 16px;
    font-weight: bold;

    transition: .25s;
}

.button:hover {
    background: var(--sky-500);
}

.button:disabled {
    color: var(--color-text-on-disabled-accent);
}
